@model List<MichalZawadzkiLab66.Models.Pizza>
@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated)
{
    @Html.ActionLink("Log as Client", "Login", "User", null, new {@class = "btn btn-lg"})<br/>
    @Html.ActionLink("Register as Client", "Register", "User", null, new {@class = "btn btn-lg"})<br/>
    @Html.ActionLink("Log as Driver", "Login", "Driver", null, new {@class = "btn btn-lg"})<br/>
}
<div class="jumbotron">
    Nasze menu
    <table class="table table-bordered table-hover">
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Składniki</th>
        </tr>
        @foreach (var pizza in Model)
        {
            <tr>
                <td>@pizza.Name</td>
                <td>@pizza.Price zł</td>
                <td>@pizza.Components</td>
            </tr>
        }
    </table>
</div>